{% load tailwind_cli%}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stores_cart</title>
    {% tailwind_css %}

</head>
{% include "navbar.html" %}
<body class="Stores_desgin">

    <div class="container py-8">
        <div class="flex justify-center mt-2">
            <form action="{% url 'cart' %}" method="get" class="mb-6 border border-gray-300 p-4 rounded-lg bg-white shadow-md w-1/2 flex flex-row gap-8 items-start ml-16">
                <div class="flex flex0-col items-start">
                    <p class="font-bold mb-2">Price Range</p>
                    <div name="PriceButtons flex flex-wrap gap-4 mb-4">
                        <label class="flex items-center ml-2">
                            <input type="radio" id="Any" name="Price-Range" value="Any" checked class="mr-2">
                            Any
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="0-10" name="Price-Range" value="0-10" class="mr-2">
                            0-$10
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="10-25" name="Price-Range" value="10-25" class="mr-2">
                            $10-$25
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="25-50" name="Price-Range" value="25-50" class="mr-2">
                            $25-$50
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="50-100" name="Price-Range" value="50-100" class="mr-2">
                            $50-$100
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="100+" name="Price-Range" value="100+" class="mr-2">
                            $100+
                        </label>
                    </div>
                </div>
            
                <div class="flex flex-cols items-start">
                    <p class = "font-bold mb-2">Stores</p>
                    <div name="StoresButtons" class="flex flex-col gap-2 mb-4">
                        <label class="flex items-center ml-2">
                            <input type="radio" id="Walmart" name="Stores" value="Walmart" class="mr-2">
                            Walmart
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="Target" name="Stores" value="Target" class="mr-2">
                            Target
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="Costco" name="Stores" value="Costco" class="mr-2">
                            Costco
                        </label>
                        <label class="flex items-center ml-2">
                            <input type="radio" id="All" name="Stores" value="All" checked class="mr-2">
                            All
                        </label>
                    </div>
                </div>
            
                <div class="flex items-center gap-4 mb-6">
                    <input type="text" name="Item_Search_Bar" placeholder="Search for an item" class="border border-gray-300 rounded-lg px-4 py-2 mb-4 w-full">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Search</button>

                </div>
            </form>
        </div>

        {% comment %} <div name="Items_list" class="grid grid-cols-1 md:grud-cols-2 lg:grid-cols-3 gap-6">
            {% for item in page_obj %}
                <div class="border border-gray-300 rounded-lg p-4 shadow-md">
                    <h3 class="text-lg font-bold mb-2">{{ item.name }}</h3>
                    <p class="text-gray-700">Price: ${{ item.price }}</p>
                    <p class="text-gray-700">Store: {{ item.store.name }}</p>
                    <p class="text-gray-700">Stock: {{ item.stock }}</p>
                </div>
            {% empty %}
                <p class="col-span-full text-center text-gray-500">No items match your criteria.</p>
            {% endfor %}
        </div> {% endcomment %}
        <div name="Items_list" class="grid gap-4 mt-8">
            {% for item in page_obj %}
                <div class="item-card grid grid-cols-4 border border-gray-300 rounded-lg p-4 shadow-md items-center bg-white hover:bg-blue-500 hover:shadow-lg active:scale-95 transition-all duration-150 active:bg-gray-300" 
                onclick="handleItemClick(this, {{item.id}} )">
                    <div class="text-lg font-bold">{{ item.name }}</div>
                    <div class="text-gray-700">Price: ${{ item.price }}</div>
                    <div class="text-gray-700">Store: {{ item.store.name }}</div>
                    <div class="text-gray-700">Stock: {{ item.stock }}</div>
                    <div>
                        <input type="number" name="item_ammount" value="1" min="1" max="{{ item.stock }}" class="w-16 px-2 py-1 border border-gray-300 rounded-lg">
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-gray-500">No items match your criteria.</p>
            {% endfor %}
        </div>
    </div>
{% csrf_token %}
</body>
<style>
    .item-card:hover {
        background-color: #f0f0f0; /* Light gray background on hover */
        cursor: pointer; /* Change cursor to pointer on hover */
    }

    .item-card:active {
        background-color: #e5e7eb;        /* darker gray on click */
        transform: scale(0.98);           /* slight press effect */
    }
</style>
<script>
    const csrf_token = "{{ csrf_token }}";
    function handleItemClick(element, item_id) {
        const ammountInput = element.querySelector('input[name="item_ammount"]');
        const itemAmmount = ammountInput ? ammountInput.value : 1;

        fetch(`/cart/add/${item_id}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token
            },
            body: JSON.stringify({ 'item_ammount': itemAmmount })
        })
        .then(response => {
            const contentType = response.headers.get("content-type");
            if (contentType && contentType.includes("application/json")) {
                return response.json();
            } else {
                throw new Error("Not authenticated or not found");
            }
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

<footer>

</footer>

</html>