<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
</head>
{% include "navbar.html" %}
<body class="desgin">

    <div class="flex flex-col items-center mb-16">
        <h1 class="mb-4 text-4xl font-bold text-center">
            Grocery Delivery Done Right
        </h1>

        <h2 class="mb-4 text-2xl font-semibold text-center">
            Find your local grocery store and get your groceries delivered to you by a neighbor.
        </h2>
        <h2 class="mb-4 text-2xl font-semibold text-center">
            Community Based.
        </h2>


    <!--If they are logged in but did not enter their address yet-->
    <div class="flex flex-col items-center mb-12">
        <h4 class="mb-4">
            Enter your address to find your neighborhood!
        </h4>
        <form onsubmit="geocodeAddress(); return false;">
            <input id="input_location" class="border border-gray-300 rounded-lg shadow-lg"type="text" name="address" placeholder="Enter your address">
            <button type="submit" class="border border-gray-300 rounded-lg shadow-lg">Search</button>
        </form>
    </div class="mb-12">
    <div class="flex justify-center items-center w-full">
        <div id='map' class="w-2/5 h-96 mt-4 border border-gray-300 rounded-lg shadow-lg">

        </div>
    </div>

    <!--If they are logged in and have entered their address-->
    <h4 class="mt-8">
        You can request to have your cart picked up, or accept someone else's cart!
    </h4>


    </div>

    <div name="Contains list of stores, maybe make it scrollable">
        <a href="walmart.html"> <img src="walmartLogo"> </a>
        <a href="costco.html"> <img src="costcoLogo"> </a>
        <a href="target.html"> <img src="targetLogo"> </a>
    </div>

    <script>
        let map;
        let geocoder;

        function initMap() {
            // Create a map centered at a specific location
            const location = { lat: {{location.lat}}, lng: {{location.lng}} };
            map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 10
            });
            geocoder = new google.maps.Geocoder();
        }

        function geocodeAddress() {
            const address = document.getElementById('input_location').value;
            geocoder.geocode({ 'address': address }, (results, status) => {
                if (status === 'OK') {
                    const location = results[0].geometry.location;
                    map.setCenter(location);
                    document.getElementById('input_location').value = '';


                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>

    <script async defer loading="lazy"
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">

    </script>
</body>

<footer>

</footer>

</html>