<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'dist/tailwindcss.css' %}">
    <style>
        .hidden{ display: none; }
    </style>
</head>
<!-- {% include "navbar.html" %} -->
{% include "navbar.html" with navbar_bg_color="#150931" %}
<body class="bg-[#150931]">

    <div class="border-1 border-purple-200 rounded-lg shadow-lg p-6 m-4 bg-white justify-center items-center flex flex-col">
        <div id="login">
            <h4 class="flex flex-col justify-center ">User Login</h4>
            <form>
            <div>
                <div name="User Login">
                    <div class="flex w-60 border-2 border-gray-300 rounded-lg mb-4">
                        <img class="w-6 h-6 m-2" src="{% static 'media/user.png' %}" alt="User Icon">
                        <input type="text" name="username" class="w-full focus:outline-none">
                    </div>

                    <div class="flex w-60 border-2 border-gray-300 rounded-lg mb-4">
                        <img class="w-6 h-6 m-2" src="{% static 'media/lock.png' %}" alt="Password Icon">
                        <input type="password" name="password" class="w-full focus:outline-none">
                    </div>
                </div>
                <div>
                    <button>Sign Up</button>
                    <p>Already have an account? <a href="#" onclick="togglefunc()">Login</a></p>                    <a href="{% url 'login' %}"><button type="submit">Forgot Password?</a>
                </div>
                <button type="submit">Login</button>
            </div>
            </form>

            <div>
                <h4>Or Login Using</h4>

                <div name="User Login">

                    <img class="w-8" src="{% static 'media/facebook.png' %}" alt="Facebook Icon">
                    <h4>LOGIN WITH FACEBOOK</h4>

                    <img class="w-6" src="{% static 'media/google.png' %}" alt="google Icon">
                    <h4>LOGIN WITH GOOGLE</h4>

                </div>
            </div>
        </div>

        <div id="signup" class="hidden">
            <div name="New user">
                <img class="username" src="{% static 'media/user.png' %}" alt="User Icon">
                <input class="username" type="text" name="username">

                <img class="Email" src="{% static 'media/lock.png' %}" alt="Email Icon">
                <input class="Email" type="Email" name="Email" >

                <img class="password" src="{% static 'media/lock.png' %}" alt="Password Icon">
                <input class="password" type="password" name="password" >
            </div>
            <div>
                <button onclick="togglefunc()">Sign up</button>
                <a href="{% url 'login' %}"><button type="submit">Forgot Password?</a>
            </div>
        </div>
    </div>

    <script>
        function togglefunc()
        {
            document.getElementById("login").classList.toggle("hidden");
            document.getElementById("signup").classList.toggle("hidden");   
        }
    </script>
</body>
<footer>
</footer>
</html>