<!DOCTYPE html>
{% load tailwind_cli%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stores_cart</title>
    {% tailwind_css %}
</head>
{% include "navbar.html" %}
<body>
    {% csrf_token %}
    <div class="tabsList">
        <button class="Buttoncolor text-white px-4 py-2 hover:bg-blue-600 rounded-t-lg" onclick="display('cart')">Cart</button>
        <button class="Buttoncolor" onclick="display('group')">Group cart</button>
        <button class="Buttoncolor" onclick="display('placed')">Orders in Progress</button>
    </div>

    {% comment %} <div id="tab-cart" class="tab-content"></div> {% endcomment %}
    <div id="tab-group" class="tab-content hidden"></div>
    <div id="tab-placed" class="tab-content hidden"></div>
    
    <div id="tab-cart" class="tab-content grid grid-cols-2 h-screen gap-4 p-4">
        <div class="col-span-1 bg-white">
            {% for item in items %}
                <div class="p-4 border-b border-gray-300 bg-blue-100 shadow-md mb-8">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <h2 class="text-xl font-bold mb-2 pl-8">{{ item.name }}</h2>
                            <div flex flex-row>
                                <p class="mb-1 pl-32">Quantity: {{ item.quantity }}</p>
                                <input type="number" name="item_amount" value="{{item.quantity}}" min="1" class="w-16 p-1 border border-gray-300 rounded-lg bg-white text-black">
                                <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 ml-2 shadow-md"
                                onclick="handleItemClick(this, {{ item.id }}, {{ item_amount.value }})">
                                    Update
                                </button>
                            </div>
                            <p class="mb-1 pl-32">Price: ${{ item.price }}</p>
                            <p class="mb-1 pl-32">Total: ${{ item.total }}</p>
                        </div>
                        <button class="ml-auto self-center">
                            <a href="" class="bg-blue-500 px-4 py-2 rounded-lg hover:bg-blue-600 shadow-md ">Remove item</a>
                        </button>
                    </div>
                </div>
            {% empty %}
            <p class="p-4">Your cart is empty.</p>
            {% endfor %}
        </div>
        <div class="col-span-1 bg-neutral-200 p-4 shadow-md place-self-center w-1/2">
            <h2 class="text-2xl font-bold mb-4">Order Summary</h2>
            <p class="mb-2">Subtotal: ${{ order.subtotal }}</p>
            <p class="mb-2">Tax: ${{ order.tax }}</p>
            <p class="mb-4 font-bold">Total: ${{ order.total }}</p>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
            onclick="changeOrderStatus({{ id|default:'null' }}, 'placed')">Proceed to Checkout</button>

        </div>
    </div>
</body>
<style>
    .tabsList {
        display: flex;
        padding: 4px;
        justify-content: center;
        background-color: #bfdbfe; /* Tailwind's blue-100 */
    }
    .Buttoncolor {
        background-color: #60A5FA; /* Tailwind's blue-400 */
        color: white;
        padding: 4px;
    }

    .Buttoncolor:hover {
        background-color #3B82F6;
    }
    
</style>
<script>
    function display(tabName) {
        // Hide all tabs
        document.querySelectorAll('.tab-content').forEach(tab => tab.classList.add("hidden")); 

        // Show the selected tab
        const tab = document.getElementById("tab-" + tabName);
        tab.classList.remove("hidden"); 

        if (tabName == 'cart') {
            displayCart();
        }
        else if (tabName == 'group') {
            displayGroupCart();
        }
        else if (tabName == 'placed') {
            console.log("placed pressed")
            displayPlacedOrders();
        }
    }

    function displayGroupCart() {
        const groupItemsUrl = "{% url 'group_items' %}"
        console.log("group data")
        fetch(groupItemsUrl)
            .then(response => response.json())
            .then(data => {
                const tab = document.getElementById("tab-group");

                if (!data.items || data.items.length === 0) {
                    tab.innerHTML = "<p class='p-4'>Your cart is empty.</p>";
                    return;
                }

                let html = `<div class="grid grid-cols-2 h-screen gap-4 p-4">
                                <div class="col-span-1 bg-white">`;

                data.items.forEach(item => {
                    html += `
                    <div class="p-4 border-b border-gray-300 bg-blue-100 shadow-md mb-8">
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <h2 class="text-xl font-bold mb-2 pl-8">${item.name}</h2>
                                <div flex flex-row>
                                    <p class="mb-1 pl-32">Quantity: ${item.quantity}</p>
                                    <input type="number" name="item_amount" value="${item.quantity}" min="1"
                                        class="w-16 p-1 border border-gray-300 rounded-lg bg-white text-black">
                                    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 ml-2 shadow-md"
                                            onclick="handleItemClick(this, ${item.id}, this.previousElementSibling.value)">
                                        Update
                                    </button>
                                </div>
                                <p class="mb-1 pl-32">Price: $${item.price}</p>
                                <p class="mb-1 pl-32"><b>Total: $${item.total}</b></p>
                            </div>
                            <button class="ml-auto self-center">
                                <a href="" class="bg-blue-500 px-4 py-2 rounded-lg hover:bg-blue-600 shadow-md">Remove item</a>
                            </button>
                        </div>
                    </div>`;
                });

                html += `</div>
                        <div class="col-span-1 bg-neutral-200 p-4 shadow-md place-self-center w-full">
                            <h2 class="text-2xl font-bold mb-4">Order Summary</h2>
                            <p class="mb-2">Subtotal: $${data.order.subtotal}</p>
                            <p class="mb-2">Tax: $${data.order.tax}</p>
                            <p class="mb-4 font-bold">Total: $${data.order.total}</p>
                            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
                                    onclick="changeOrderStatus(${data.id || 'null'}, 'placed')">
                                Proceed to Checkout
                            </button>
                        </div>
                        </div>`;

                tab.innerHTML = html;
            });
    }

    function displayPlacedOrders() {
        const placedItemsUrl = "{% url 'placed_items' %}"
        console.log("placed data")
        fetch(placedItemsUrl)
            .then(response => response.json())
            .then(data => {
                const tab = document.getElementById("tab-placed");

                if (!data.items || data.items.length === 0) {
                    tab.innerHTML = "<p class='p-4'>Your cart is empty.</p>";
                    return;
                }

                let html = `<div class="grid grid-cols-2 h-screen gap-4 p-4">
                                <div class="col-span-1 bg-white">`;

                data.items.forEach(item => {
                    html += `
                    <div class="p-4 border-b border-gray-300 bg-blue-100 shadow-md mb-8">
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <h2 class="text-xl font-bold mb-2 pl-8">${item.name}</h2>
                                <div flex flex-row>
                                    <p class="mb-1 pl-32">Quantity: ${item.quantity}</p>
                                    <input type="number" name="item_amount" value="${item.quantity}" min="1"
                                        class="w-16 p-1 border border-gray-300 rounded-lg bg-white text-black">
                                    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 ml-2 shadow-md"
                                            onclick="handleItemClick(this, ${item.id}, this.previousElementSibling.value)">
                                        Update
                                    </button>
                                </div>
                                <p class="mb-1 pl-32">Price: $${item.price}</p>
                                <p class="mb-1 pl-32"><b>Total: $${item.total}</b></p>
                            </div>
                            <button class="ml-auto self-center">
                                <a href="" class="bg-blue-500 px-4 py-2 rounded-lg hover:bg-blue-600 shadow-md">Remove item</a>
                            </button>
                        </div>
                    </div>`;
                });

                html += `</div>
                        <div class="col-span-1 bg-neutral-200 p-4 shadow-md place-self-center w-full">
                            <h2 class="text-2xl font-bold mb-4">Order Summary</h2>
                            <p class="mb-2">Subtotal: $${data.order.subtotal}</p>
                            <p class="mb-2">Tax: $${data.order.tax}</p>
                            <p class="mb-4 font-bold">Total: $${data.order.total}</p>
                            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
                                    onclick="changeOrderStatus(${data.id || 'null'}, 'placed')">
                                Proceed to Checkout
                            </button>
                        </div>
                        </div>`;

                tab.innerHTML = html;
            });
    }

    function displayCart() {
        const cartItemsUrl = "{% url 'cart_items' %}";
        fetch(cartItemsUrl)
            .then(response => response.json())
            .then(data => {
                const tab = document.getElementById("tab-cart");

                if (!data.items || data.items.length === 0) {
                    tab.innerHTML = "<p class='p-4'>Your cart is empty.</p>";
                    return;
                }

                let html = `<div class="grid grid-cols-2 h-screen gap-4 p-4">
                                <div class="col-span-1 bg-white">`;

                data.items.forEach(item => {
                    html += `
                    <div class="p-4 border-b border-gray-300 bg-blue-100 shadow-md mb-8">
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <h2 class="text-xl font-bold mb-2 pl-8">${item.name}</h2>
                                <div flex flex-row>
                                    <p class="mb-1 pl-32">Quantity: ${item.quantity}</p>
                                    <input type="number" name="item_amount" value="${item.quantity}" min="1"
                                        class="w-16 p-1 border border-gray-300 rounded-lg bg-white text-black">
                                    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 ml-2 shadow-md"
                                            onclick="handleItemClick(this, ${item.id}, this.previousElementSibling.value)">
                                        Update
                                    </button>
                                </div>
                                <p class="mb-1 pl-32">Price: $${item.price}</p>
                                <p class="mb-1 pl-32"><b>Total: $${item.total}</b></p>
                            </div>
                            <button class="ml-auto self-center">
                                <a href="" class="bg-blue-500 px-4 py-2 rounded-lg hover:bg-blue-600 shadow-md">Remove item</a>
                            </button>
                        </div>
                    </div>`;
                });

                html += `</div>
                        <div class="col-span-1 bg-neutral-200 p-4 shadow-md place-self-center w-full">
                            <h2 class="text-2xl font-bold mb-4">Order Summary</h2>
                            <p class="mb-2">Subtotal: $${data.order.subtotal}</p>
                            <p class="mb-2">Tax: $${data.order.tax}</p>
                            <p class="mb-4 font-bold">Total: $${data.order.total}</p>
                            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
                                    onclick="changeOrderStatus(${data.id || 'null'}, 'placed')">
                                Proceed to Checkout
                            </button>
                        </div>
                        </div>`;

                tab.innerHTML = html;
            });
    }

    function changeOrderStatus(orderId, newStatus) {
        if(!orderId) {
            alert('Invalid order.');
            return;
        }
        fetch(`/change_order_status/${orderId}/${newStatus}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Order status updated successfully!');
                location.reload();
                // Optionally, you can refresh the page or update the UI to reflect the change
            } else {
                alert('Failed to update order status.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while updating the order status.');
        });
    }
    
</script>