* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: grey;
    background-position: center;
    backdrop-filter: blur;
}

    .logo {
        max-width: 50px;
        height: auto;
    }
    .navbar img {
        max-width: 50px;
        height: auto;
    }


    .input-container {  
        position: relative;  
        width: 300px;  
    }  

    .input-container img.username {  
        position: absolute;  
        left: 10px;  
        top: 50%;  
        transform: translateY(-150%);  
        width: 20px; /* Adjust according to your logo size */  
        height: auto;  
    }  

    .input-container img.password {  
        position: absolute;  
        left: 10px;  
        top: 50%;  
        transform: translateY(50%);  
        width: 20px; /* Adjust according to your logo size */  
        height: auto;  
    }  

    .input-container input.username {  
        padding-left: 40px; /* Adjust based on the size of your logo */  
        width: 100%;  
        height: 40px; /* Adjust the height as needed */  
        border: 1px solid #ccc;  
        border-radius: 5px;  
    }  

    .input-container input.password {  
        padding-left: 40px; /* Adjust based on the size of your logo */  
        width: 100%;  
        height: 40px; /* Adjust the height as needed */  
        border: 1px solid #ccc;  
        border-radius: 5px;  
    }  
