* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: grey;
    background-position: center;
    backdrop-filter: blur;
}

    .logo {
        max-width: 50px;
        height: auto;
    }
    .navbar img {
        max-width: 50px;
        height: auto;
    }
